body {
	font-family: 'Raleway';
}

canvas {
    margin: 0;
    padding: 0;
	background-color: #CCCCCC;
	width: 100%;
	height: auto;
}

.float{
	position:fixed;
	width:200px;
	height:5vh;
	bottom:10px;
	right:10px;
	font-size: 4vh;
	background-color: transparent;
	color:#000;
	text-align:right;
}

.floating-button{
	margin-top:22px;
}

#google_translate_element {
	display: none;
}

body > .skiptranslate {
    display: none;
}

/* Disable google translate original text tooltips */
#goog-gt-tt, .goog-te-balloon-frame {
	display: none !important;
}
.goog-text-highlight {
	background: none !important; box-shadow: none !important;
}