body {
	font-family: 'Raleway';
}

canvas {
    margin: 0;
    padding: 0;
	background-color: #CCCCCC;
	width: 100%;
	height: auto;
}

.float{
	position:fixed;
	width:20px;
	height:20px;
	bottom:20px;
	right:20px;
	background-color: transparent;
	color:#000;
	text-align:center;
}

.floating-button{
	margin-top:22px;
}